/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width:1060px;
}


.logo {
	float:left;
}


/*********************
TYPE
*********************/

body {
	font-size:28px;
}

/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/

//header {
	nav {

	}
//}

/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


	
/*********************
TRANSITIONS
*********************/

.modal {
	height:$modalHeight + 10%;
	max-width:618px;
}