/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.column {
	float:left;
	width:46%;
	
	&.left {

	}
	&.right {
		float:right;
	}
	
	p {
		font-size:0.85em;
	}
}

/*********************
TYPE
*********************/

body {
	font-size:20px;
}

/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


	
/*********************
TRANSITIONS
*********************/

.modal {
	font-size:0.9em;
}