/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/


/*********************
TYPE
*********************/

body {
	font-size:22px;
}

/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


	
/*********************
TRANSITIONS
*********************/

/*********************
MODAL
*********************/

.modal {
	width:$modalWidth;
	height:$modalHeight - 5%;
}