/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html,
button,
input,
select,
textarea {
    color:$text;
}

html, body {
}

::-moz-selection {
    background: $selection;
    color:$selection-text;
    text-shadow: none;
}

::selection {
    background: $selection;
    color:$selection-text;
    text-shadow: none;
}

hr {
    display: block;
    height: 0.1875em;
    border: 0;
    margin: 1.31em 0;
    padding: 0;
   	color: $hr;
	background-color: $hr;
	position:relative;
	top:-.09375em;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/*********************
LAYOUT & GRID STYLES
*********************/
header {
	margin-top:1.5em;
}

.wrap {
	padding-left:4%;
	padding-right:4%;
	margin:0 auto;
	
	&.up1024 {
		padding:0;
	}
}

.content {
	img {
		width:100%;
		margin-bottom:1.5em;
	}

	> p:first-of-type {
		font-style: italic;
		font-size:1.25em;
		margin-bottom:1.2em;
	}
		padding-bottom:2em;
}

.mainContent {
	margin-bottom:1em;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color:$link-color;

	/* on hover */
	&:hover, &:focus {
		color:$link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on ip5ones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
TYPE
*********************/

body {
	font-size: 16px;
	line-height: 1.5;
	font-family: $sans-serif;
	background:$background;	
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	font-weight:bold;
}

h1,h2,h3,h4,h5,p,ul,ol,li,blockquote,hr {						
	margin-top:0;
}

h1, .h1 {
	font-size:1.6em;
	margin:0 0 .685em 0;
	line-height:1.37em;
	font-family:sans-serif;
	opacity:0.99;
}

h2, .h2 {
	font-size:1.45em;
	margin-bottom:1.14em;
	line-height:1.15em;
}

h3, .h3 {
	font-size:1.15em;
	margin-bottom:0.8em;
}

h4, .h4 {
	font-size:1em;
	margin-bottom:0.75em;
}

h5,.h5 {
	font-size:.9em;
	margin-bottom:0;
}

p, li {
	font-family:$serif;
	font-size:1em;
	margin-bottom:1.5em;
	
	a {
		font-weight:bold;
	}
}

p.meta {
	font-size:0.7em;
}

ul {
	margin:1em 0;
	padding:0 4em 0 1.5em;
}

li {

}

blockquote {
	margin-bottom:1.5em;
}

#banner {
	p {
		font-family:$sans-serif;
		font-weight:bold;
		font-size:75%;
		color:$offWhite;
		margin-bottom:0.25em;
	}
}


/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/
nav {
	background:$nav;
	margin-bottom:1.5em;
	&.horiz {
		ul {
			margin:0;
			padding:0;
			overflow:hidden;
			text-align: center;
			li {
				display:inline-block;
				margin:0;
				padding:0;
				a {
					display:block;
					color:$nav-link;
					padding:0.91em;
					font-size:.84em;
				}
			}
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

/*********************
IMAGES
*********************/


/*********************
FOOTER STYLES
*********************/

footer {
	background:$footer;
	color:$footer-text;
	overflow:hidden;
	

	padding-top:1.5em;
	padding-bottom:1.5em;
	text-align:center;
	
	
	
	p.meta {
		margin-bottom:2.15em;			//not currently used
	}
}

	
/*********************
TRANSITIONS & ANIMATIONS
*********************/

#banner {

	-moz-transition: -moz-transform .5s ease-in-out;
	-webkit-transition: -webkit-transform .5s ease-in-out;
	
	-moz-transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	
	&.active {
		-moz-transform:translateY(0);
		-webkit-transform:translateY(0);
	}
}

/**************
BACKGROUNDS
****************/



/*********************
BUTTONS
*********************/

.button, .button:visited {
	padding:0.76em  0.8em;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	text-align:center;

	cursor: pointer;
	background:$buttonBg;
	color:$button-link;

	&:hover, &:focus {
		background:$buttonBg-hover;
		color:$button-link-hover;
	}

	&:active {
		//@include css-gradient(darken($link-color, 5%), $link-color);
	}
	
	&.redBg {
		
	}
}

/*********************
OVERLAY
*********************/

.overlay {
	background:$overlay;
	opacity:0;
	visibility:hidden;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	-webkit-transition-property: opacity,visibility;
	-webkit-transition-duration: 0.5s,0.5s;
	
	&.animate {
		opacity: 1;
		visibility: visible !important;
		z-index:100;
	}
}

/*********************
BANNER
*********************/

#banner {
	padding:1em 0;
	background-color:$blue;
	
	&.error {
		background-color:$red;	
	}
}

/*********************
MODAL BOX
*********************/

.modal {
	width:100%;
	height:100%;
	background:$offWhite;
		
	.vertPosition {
		text-align: center;
		height: 50%;
		position: absolute;
		top: 20%;
		padding:0 2em;
	}
	
	.buttonPosition {
		position:absolute;
		bottom:0;
		text-align:center;
		width:100%;
		padding-bottom:3em;
	}
}